{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<div class="row my-3">
    <h1 class="text-center">Login</h1>
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark my-2">
                     Login
                </button>
                <a href="{% url 'password_reset' %}" class="btn btn-outline-info">Password Reset</a>
            </div>
        </form>
    </div>
    
</div>
{% endblock content %}